.home-container {
  padding: 24px;
  text-align: center;
}
.us {
  display: flex;
  justify-content: space-around;
  gap: 12px;
  padding: 22px;
}
.us div {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}
.us img {
  height: 200px;
  width: 150px;
  border-radius: 12px;
  box-shadow: 6px 2px 8px rgba(0, 0, 0, 0.4);
}
.sce {
  height: 200px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
.sce img {
  border-radius: 12px;
  box-shadow: 6px 2px 8px rgba(0, 0, 0, 0.4);
}
h2 {
  padding: 12px;
}
